{% extends "base.html" %}

{% block content %}

<section class="section">
  <div class="column is-4 is-offset-4">
    <div class="content is-medium">
      <h1>Deletar estudante</h1>

      <p>Você está prestes a deletar o estudante: {{ estudante.nome }} </p>
      <p>Email: {{ estudante.username }}</p>

      <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" class="button is-danger is-medium" value="Confirmar exclusão">
      </form>
    </div>
  </div>
</section>
{% endblock %}