{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}

{% if user.is_staff %}

<section class="section">
    <div class="column is-4 is-offset-4">
        <div class="content is-medium">
            <h1>Matricular aluno em novo curso</h1>
        </div>
        <div class="content is-medium">
           <small><text style="color: indianred">*</text> Indica campo obrigatório</small>
        </div>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.media }}
            <div class="field">
                <label class="label">Estudante: <text style="color: indianred">*</text></label>
                <div class="control">
                        {{ form.estudante }}
                        {{ form.estudante.errors }}
                </div>
            </div>
            <div class="field">
                <label class="label">Curso: <text style="color: indianred">*</text></label>
                <div class="control">
                        {{ form.curso }}
                        {{ form.curso.errors }}
                </div>
            </div>
            <input class="button is-success" type="submit" value="Matricular">
        </form>
    </div>
</section>
<section class="section">
    <div class="column is-4 is-offset-4">
        {% else %}
        <section class="section">
            <div class="column is-4 is-offset-4">
                <div class="content is-medium">
                    <h2>Você não possuí permissão para acessar esse conteúdo, peça auxíio a um administrador ou entre
                        com uma
                        conta
                        administradora.</h2>
                </div>
            </div>
        </section>
        {% endif %}
        {% else %}
        <section class="section">
            <div class="column is-4 is-offset-4">
                <div class="content is-medium">
                    <h2>Por favor, realize login para ter acesso a essa página</h2>
                </div>
            </div>
        </section>
        {% endif %}
    </div>
</section>
{% endblock %}